@model IEnumerable<OnlineGroceryStore.Models.Product>

<div class="jumbotron">
    <h1>Welcome to the Online Grocery Store</h1>
    <p class="lead">Shop fresh fruits and vegetables from the comfort of your home.</p>
    <a class="btn btn-primary btn-lg" href="/Products" role="button">Shop Now</a>
</div>

